<header>
  <h1>Charmander #004</h1>
</header>
<main>
  <button type="submit" ng-click="catch = !catch" class="btn .btn-default">Catch Charmander</button>
  <br />
  <img ng-show="catch" ng-src="http://thecraftchop.com/files/others/Pokeball.svg" />
  <img ng-hide="catch" ng-src="http://vignette1.wikia.nocookie.net/pokemon/images/9/96/004Charmander_OS_anime.png/revision/latest?cb=20140603214902" />
  <p class="summary">The flame that burns at the tip of its tail is an indication of its emotions. The flame wavers when Charmander is enjoying itself. If the Pokémon becomes enraged, the flame burns fiercely.</p>
  <section>
    <button type="submit" ng-click="show=true" class="btn .btn-default">stats</button>
    <div class="pokeball" ng-show="show">
    <ul>
      <div class="top">
        <li>Height: 2'00"</li>
        <li>Weight: 18.7 lbs</li>
        <li>Category: Lizard</li>
        <li>Abilites: Blaze</li>
      </div>
      <div class="bottom">
        <li class="evolution">Evolution: Charmeleon #005 and Charizard #006</li>
        <li>Gender: Male or Female</li>
        <li>Type: Fire</li>
        <li>Weaknesses: Ground, Rock, Water</li>
      </div>
    </ul>
    </div>
  </section>
</main>
