<header>
  <h1>Jigglypuff #039</h1>
</header>
<main>
  <img ng-src="http://vignette1.wikia.nocookie.net/pokemon/images/e/ed/039Jigglypuff_Dream.png/revision/latest?cb=20140910075209" />
  <p class="summary">Jigglypuff's vocal cords can freely adjust the wavelength of its voice. This Pokémon uses this ability to sing at precisely the right wavelength to make its foes most drowsy.</p>
  <section>
    <button type="submit" ng-click="show=true" class="btn .btn-default">stats</button>
    <div class="pokeball" ng-show="show">
    <ul>
      <div class="top">
        <li>Height: 1'08"</li>
        <li>Weight: 12.1 lbs</li>
        <li>Category: Balloon</li>
        <li>Abilites: Cute Charm</li>
      </div>
      <div class="bottom">
        <li>Gender: Male or Female</li>
        <li>Type: Normal and Fairy</li>
        <li>Weaknesses: Steel and Posion</li>
        <li class="evolution">Evolution: Wigglytuff #040</li>
      </div>
    </ul>
  </section>
</main>
