<header>
  <h1>Pikachu #025</h1>
</header>
<main>
  <button type="submit" ng-click="main.catch()" class="btn .btn-default">Catch Pikachu</button>
  <br />
  <img class="pokeballCatch" ng-class="main.catch" ng-src="http://thecraftchop.com/files/others/Pokeball.svg" />
  <img ng-class="main.pokemon" ng-src="http://vignette2.wikia.nocookie.net/pokemon/images/b/b1/025Pikachu_XY_anime_3.png/revision/latest?cb=20140902050035" />
  <p class="summary">Whenever Pikachu comes across something new, it blasts it with a jolt of electricity. If you come across a blackened berry, it's evidence that this Pokémon mistook the intensity of its charge.</p>
  <section>
    <button type="submit" ng-click="show=true" class="btn .btn-default">stats</button>
    <div class="pokeball" ng-show="show">
    <ul>
      <div class="top">
        <li>Height: 1'04"</li>
        <li>Weight: 13.2 lbs</li>
        <li>Category: Mouse</li>
        <li>Abilites: Static</li>
      </div>
      <div class="bottom">
        <li>Gender: Male or Female</li>
        <li>Type: Electric</li>
        <li>Weaknesses: Ground</li>
        <li class="evolution">Evolution: Raichu #026</li>
      </div>
    </ul>
  </section>
</main>
